// 404
//------------------------------------------------------------------------------

// About
//------------------------------------------------------------------------------
.why-us {
	display: flex;
	padding: baseline(2 0);
	&__left {
		width: 50%;
		margin-right: baseline(1);
	}
	&__right {
		width: 50%;
		margin-left: baseline(1);
	}
	&__heading {
		margin-bottom: baseline(1);
		font-size: font-size(12);
		line-height: baseline(3);
	}
	&__content {
		margin-bottom: baseline(2);
	}
	&__action {
		font-size: font-size(6);
		line-height: baseline(1);
		&-link {
			color: currentColor;
			&:hover {
				text-decoration: none;
			}
			&-icon {
				display: inline-block;
				width: baseline(1.5);
				height: baseline(1.5);
				border-radius: baseline(1.5);
				background-color: color('primary');
				color: #FFFFFF;
				font-size: font-size(3);
				line-height: baseline(1.5);
				text-align: center;
				vertical-align: middle;
			}
		}
	}
	@include screen-max-lg {
		flex-wrap: wrap;
		padding: 0;
		text-align: center;
		&__left, &__right {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
		}
		&__right {
			margin-top: baseline(1);
		}
	}
}

// Archive
//------------------------------------------------------------------------------

// Avatars
//------------------------------------------------------------------------------

// Blog Post Archive
//------------------------------------------------------------------------------

// Blog Post Single
//------------------------------------------------------------------------------

// Blog Post Teaser
//------------------------------------------------------------------------------
.blog-posts {
	position: relative;
	z-index: 1;
	margin-bottom: baseline(-3);
	padding: baseline(6 0 0);
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: baseline(2);
		color: #FFFFFF;
		&-title {
			flex-shrink: 0;
			margin-right: baseline(1);
			font-size: font-size(12);
			line-height: baseline(3);
		}
		&-line {
			display: inline-block;
			width: 100%;
			height: 2px;
			background-color: rgba(#FFFFFF, 0.5);
		}
		&-link {
			display: inline-block;
			flex-shrink: 0;
			margin-left: baseline(1);
			color: #FFFFFF;
			font-size: font-size(2);
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: baseline(0 -0.5);
		&-item {
			width: (100% / 3);
			padding: baseline(0 0.5 1);
		}
	}
	&__post {
		height: 100%;
		border-radius: 4px;
		background-color: #FFFFFF;
		box-shadow: 0 8px 8px rgba(#000000, 0.16);
		&-thumb {
			display: block;
			position: relative;
			width: 100%;
			height: baseline(10);
			border-radius: 4px 4px 0 0;
			background-color: #000000;
			&-img {
				display: block;
				position: absolute;
				// z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding-left: 100%;
				border-radius: 4px 4px 0 0;
				background-color: inherit;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}
		}
		&-content {
			padding: baseline(1);
		}
		&-title {
			margin-bottom: baseline(0.5);
			font-size: font-size(2);
			line-height: baseline(1);
		}
		&-excerpt {
			margin-bottom: baseline(0.5);
		}
		// &-author {}
	}
	@include screen-max-lg {
		margin-bottom: 0;
		&__header {
			&-title {
				font-size: font-size(8);
				line-height: baseline(2);
			}
			&-link {
				font-size: font-size(1);
			}
		}
		&__list {
			&-item {
				width: 50%;
				&:nth-child(3) {
					width: 100%;
				}
			}
		}
	}
	@include screen-max-sm {
		&__header {
			&-title {
				font-size: font-size(4);
				line-height: baseline(2);
			}
		}
		&__list {
			&-item {
				width: 100%;
			}
		}
	}
}

// Buttons
//------------------------------------------------------------------------------
@mixin button-base() {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: baseline($height-button);
	margin: 0;
	padding: baseline(0 $height-button / 2, em);
	border: $border-width-button solid transparent;
	border-radius: $border-radius-button;
	font-family: inherit;
	font-size: font-size(0);
	font-weight: $font-weight-base-normal;
	// line-height: baseline('#{$height-button}:-#{$border-width-button * 2}');
	vertical-align: middle;
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
	&:disabled, &--disabled {
		background-color: transparent;
		color: color('text-tertiary');
		cursor: default;
		pointer-events: none;
	}
}
@mixin button-color-variant($background, $background-hover: color-level($background, -2), $background-active: color-level($background, 2), $text: color-yiq($background), $text-hover: $text, $text-active: $text) {
	background-color: $background;
	color: $text;
	&:focus, &:hover {
		background-color: $background-hover;
		color: $text-hover;
	}
	&:active {
		background-color: $background-active;
		color: $text-active;
	}
	&.button--outlined {
		border-color: $background;
		background-color: transparent;
		color: $background;
		&:focus, &:hover {
			border-color: transparent;
			background-color: $background;
			color: $text;
		}
		&:active {
			border-color: transparent;
			background-color: $background-active;
			color: $text-active;
		}
	}
	&.button--text {
		background-color: transparent;
		color: $background;
		&:focus, &:hover {
			background-color: rgba($background, 0.12);
			color: $background;
		}
		&:active {
			background-color: rgba($background, 0.26);
			color: $background;
		}
	}
}
.button {
	@include button-base();
	@include button-color-variant(color('primary'));
	&--link {
		background-color: transparent;
		color: color('link');
		&:focus, &:hover, &:active {
			background-color: transparent;
			text-decoration: underline;
		}
	}
	&--block {
		display: block;
		width: 100%;
		+ .button--block {
			margin-top: baseline(1);
		}
	}
	&--h1 {
		height: baseline(4);
		font-size: font-size(5);
	}
	&--h2 {
		height: baseline(3.5);
		font-size: font-size(4);
	}
	&--h3 {
		height: baseline(3);
		font-size: font-size(3);
	}
	&--h4 {
		height: baseline(2.5);
		font-size: font-size(2);
	}
	&--h5 {
		height: baseline(2);
		font-size: font-size(1);
	}
	&--h6 {
		height: baseline(1.5);
		font-size: font-size(0);
	}
	&--small {
		height: baseline(1.25);
		font-size: font-size(-1);
	}
	&--xsmall {
		height: baseline(1);
		font-size: font-size(-2);
	}
	&--rounded {
		border-radius: 99em;
	}
	&--rounded-left {
		border-radius: 99em 0 0 99em;
	}
	&--rounded-right {
		border-radius: 0 99em 99em 0;
	}
	&--rounded-circle, &--square {
		width: baseline($height-button);
		padding: 0;
		&.button--h1 {
			width: baseline(4);
		}
		&.button--h2 {
			width: baseline(3.5);
		}
		&.button--h3 {
			width: baseline(3);
		}
		&.button--h4 {
			width: baseline(2.5);
		}
		&.button--h5 {
			width: baseline(2);
		}
		&.button--h6 {
			width: baseline(1.5);
		}
		&.button--small {
			width: baseline(1.25);
		}
		&.button--xsmall {
			width: baseline(1);
		}
	}
	&--rounded-circle {
		border-radius: 50%;
	}
	&--icon-left {
		padding-left: baseline($height-button / 2.5, em);
	}
	&--icon-right {
		padding-right: baseline($height-button / 2.5, em);
	}
}

// Callout
//------------------------------------------------------------------------------

// Clients
//------------------------------------------------------------------------------

// Comments
//------------------------------------------------------------------------------

// Contact
//------------------------------------------------------------------------------

// CTA
//------------------------------------------------------------------------------

// Events
//------------------------------------------------------------------------------
.trips {
	padding: baseline(10 1);
	&__item {
		color: #FFFFFF;
		&-inner {
			width: 100%;
			max-width: 992px;
			margin-right: auto;
			margin-left: auto;
			// padding: baseline(5 1);
		}
		&-background-img {
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: bottom center;
			background-size: cover;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(#000000, 0.58);
			}
		}
		&-number {
			margin-bottom: baseline(1);
			font-family: $font-family-heading;
			font-size: font-size(2);
			// font-weight: $font-weight-heading-bold;
			// text-transform: uppercase;
			&-current {
				border-bottom: 2px solid color('primary');
			}
		}
		&-title {
			margin-bottom: baseline(2);
			font-size: font-size(12);
			line-height: baseline(3);
		}
		&-info {
			display: flex;
			flex-wrap: wrap;
			max-width: 320px;
		}
		&-days, &-duration, &-cost, &-distance {
			width: 50%;
			line-height: baseline(2);
			&::before {
				content: '';
				display: inline-block;
				width: baseline(1, em);
				height: baseline(1, em);
				margin-right: baseline(0.25);
				background-image: url(assets/img/calendar.png);
				background-size: contain;
				vertical-align: middle;
			}
		}
		&-days {
			&::before {
				background-image: url(assets/img/hourglass.png);
			}
		}
		&-duration {
			&::before {
				background-image: url(assets/img/calendar.png);
			}
		}
		&-cost {
			&::before {
				background-image: url(assets/img/coin.png);
			}
		}
		&-distance {
			&::before {
				background-image: url(assets/img/road.png);
			}
		}
	}
	@include screen-max-lg {
		padding: baseline(6 1);
	}
}

// FAQ
//------------------------------------------------------------------------------

// Features
//------------------------------------------------------------------------------

// Footer
//------------------------------------------------------------------------------
.footer {
	&__top {
		background-color: #FFFFFF;
	}
	&__bottom {
		padding: baseline(2 0);
		background-color: #171616;
		color: #707070;
		text-align: center;
	}
	&__logo {
		margin-bottom: baseline(1);
	}
	@include screen-max-sm {
		&__bottom {
			padding: baseline(1 0);
		}
	}
}

// Forms
//------------------------------------------------------------------------------
.textfield {
	$block: &;
	display: inline-block;
	position: relative;
	margin-top: baseline(0.5);
	@at-root input#{&}__input, textarea#{&}__input {
		display: inline-block;
		position: relative;
		z-index: 1;
		min-width: baseline(10);
		padding-right: 0;
		padding-left: 0;
		transition: padding $transition-timing $transition-function;
		border: 0;
		border-bottom: solid $border-width-input transparent;
		vertical-align: middle;
		&:disabled, &[readonly] {
			border-color: transparent;
			background-color: transparent;
			pointer-events: none;
			+ #{$block}__mask {
				#{$block}__mask-leading, #{$block}__mask-middle, #{$block}__mask-trailing {
					border-color: color('input-disabled-border');
				}
				#{$block}__mask-label {
					color: color('input-disabled-placeholder');
				}
			}
			~ #{$block}__icon {
				color: color('input-disabled-placeholder');
			}
		}
		&:hover {
			border-color: transparent;
			+ #{$block}__mask {
				#{$block}__mask-leading, #{$block}__mask-middle, #{$block}__mask-trailing {
					border-bottom-color: color('input-hover-border');
				}
				#{$block}__mask-label {
					color: color('input-hover-placeholder');
				}
			}
			~ #{$block}__icon {
				color: color('input-hover-placeholder');
			}
		}
		&:focus {
			border-color: transparent;
			outline: none;
			+ #{$block}__mask {
				#{$block}__mask-leading, #{$block}__mask-middle, #{$block}__mask-trailing {
					border-bottom-color: color('input-focus-border');
				}
				#{$block}__mask-label {
					transform: translateY(calc(-50% - #{$border-width-input}));
					color: color('input-focus-border');
					font-size: font-size(-1);
				}
			}
			~ #{$block}__icon {
				color: color('input-hover-placeholder');
			}
		}
	}
	&__mask {
		display: flex;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		&-leading, &-middle, &-trailing {
			display: inline-block;
			transition: border-color $transition-timing $transition-function, padding $transition-timing $transition-function;
			border: 0;
			border-bottom: solid $border-width-input color('input-border');
			line-height: baseline('#{$height-input}:#{-$border-width-input}');
		}
		&-trailing {
			flex-grow: 1;
		}
		&-label {
			display: inline-block;
			transform: translateY(0%);
			transition: transform $transition-timing $transition-function, color $transition-timing $transition-function, font-size $transition-timing $transition-function;
			color: color('input-placeholder');
			cursor: text;
			pointer-events: none;
		}
	}
	&__icon {
		position: absolute;
		z-index: 2;
		top: 0;
		// width: 1em;
		// transform: translateY(-50%);
		transition: color $transition-timing $transition-function;
		color: color('input-placeholder');
		// font-size: font-size(2);
		line-height: baseline('#{$height-input}:#{-$border-width-input}');
		text-align: center;
		&[role='button'] {
			cursor: pointer;
		}
		&:nth-of-type(1) {
			left: 0;
		}
		&:nth-of-type(2) {
			right: 0;
		}
	}
	&--with-floating-label, &--with-value {
		input#{&}__input, textarea#{&}__input {
			&:hover {
				+ #{$block}__mask {
					#{$block}__mask-middle {
						border-top-color: transparent;
					}
					#{$block}__mask-label {
						transform: translateY(calc(-50% - #{$border-width-input}));
						font-size: font-size(-1);
					}
				}
			}
		}
		#{$block}__mask {
			#{$block}__mask-middle {
				border-top-color: transparent;
			}
			#{$block}__mask-label {
				transform: translateY(calc(-50% - #{$border-width-input}));
				font-size: font-size(-1);
			}
		}
		&#{$block}--with-leading-icon {
			#{$block}__mask-middle {
				padding-left: 0;
			}
		}
	}
	&--with-leading-icon {
		input#{$block}__input, textarea#{$block}__input {
			padding-left: baseline(1);
			&:focus + #{$block}__mask {
				#{$block}__mask-middle {
					padding-left: 0;
				}
			}
		}
		#{$block}__mask {
			&-middle {
				padding-left: baseline(1);
			}
		}
	}
	&--with-trailing-icon {
		input#{$block}__input, textarea#{$block}__input {
			padding-right: baseline(1);
		}
		#{$block}__icon:only-of-type {
			right: 0;
			left: auto;
		}
	}
}
.textfield-filled {
	$block: &;
	$height-input: $height-input + 0.5;

	display: inline-block;
	position: relative;
	margin-top: baseline(0.5);
	input#{$block}__input, textarea#{$block}__input {
		display: inline-block;
		position: relative;
		z-index: 1;
		min-width: baseline(10);
		height: baseline($height-input);
		padding: baseline($height-input / 3.25 $height-input / 3 0);
		border: 0;
		border-bottom: solid $border-width-input transparent;
		vertical-align: middle;
		&:focus {
			+ #{$block}__mask {
				border-bottom-color: color('input-focus-border');
				#{$block}__mask-label {
					color: color('input-focus-border');
					font-size: font-size(-1);
					line-height: baseline($height-input / 1.75);
				}
			}
		}
	}
	textarea#{$block}__input {
		height: baseline($height-input * 2);
		padding: baseline($height-input / 2.25 $height-input / 3);
	}
	&__mask {
		display: flex;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: baseline(0 $height-input / 3);
		border-bottom: solid $border-width-input color('input-border');
		background: rgba-black('100');
		&-label {
			display: inline-block;
			height: baseline($height-input);
			transform: translateY(0%);
			transition: line-height $transition-timing $transition-function, color $transition-timing $transition-function, font-size $transition-timing $transition-function;
			color: color('input-placeholder');
			line-height: baseline($height-input);
			white-space: nowrap;
			cursor: text;
			pointer-events: none;
		}
	}
	&__icon {
		position: absolute;
		z-index: 2;
		top: 0;
		width: baseline(0.75);
		// transform: translateY(-50%);
		transition: color $transition-timing $transition-function;
		color: color('input-placeholder');
		// font-size: font-size(1);
		line-height: baseline('#{$height-input}:#{-$border-width-input}');
		text-align: center;
		&[role='button'] {
			cursor: pointer;
		}
		&:nth-of-type(1) {
			left: baseline($height-input / 4);
		}
		&:nth-of-type(2) {
			right: baseline($height-input / 4);
		}
	}
	&--with-floating-label, &--with-value {
		#{$block}__mask {
			#{$block}__mask-label {
				font-size: font-size(-1);
				line-height: baseline($height-input / 1.75);
			}
		}
	}
	&--with-leading-icon {
		input#{$block}__input, textarea#{$block}__input {
			padding-left: baseline($height-input / 4 + 1.125);
		}
		#{$block}__mask {
			padding-left: baseline($height-input / 4 + 1.125);
		}
	}
	&--with-trailing-icon {
		input#{$block}__input, textarea#{$block}__input {
			padding-right: baseline($height-input / 4 + 1.125);
		}
		#{$block}__mask {
			padding-right: baseline($height-input / 4 + 1.125);
		}
	}
}
.textfield-outlined {
	$block: &;
	display: inline-block;
	position: relative;
	margin-top: baseline(1);
	@at-root input#{&}__input, textarea#{&}__input {
		display: inline-block;
		position: relative;
		z-index: 1;
		min-width: baseline(10);
		border-color: transparent;
		background-color: transparent;
		vertical-align: middle;
		&:disabled, &[readonly] {
			border-color: transparent;
			background-color: transparent;
			pointer-events: none;
			+ #{$block}__mask {
				#{$block}__mask-leading, #{$block}__mask-middle, #{$block}__mask-trailing {
					border-color: color('input-disabled-border');
				}
				#{$block}__mask-label {
					color: color('input-disabled-placeholder');
				}
			}
			~ #{$block}__icon {
				color: color('input-disabled-placeholder');
			}
		}
		&:hover {
			border-color: transparent;
			+ #{$block}__mask {
				#{$block}__mask-leading, #{$block}__mask-middle, #{$block}__mask-trailing {
					border-color: color('input-hover-border');
				}
				#{$block}__mask-label {
					color: color('input-hover-placeholder');
				}
			}
			~ #{$block}__icon {
				color: color('input-hover-placeholder');
			}
		}
		&:focus {
			border-color: transparent;
			outline: none;
			+ #{$block}__mask {
				#{$block}__mask-leading, #{$block}__mask-middle, #{$block}__mask-trailing {
					border-color: color('input-focus-border');
				}
				#{$block}__mask-middle {
					border-top-color: transparent;
				}
				#{$block}__mask-label {
					transform: translateY(calc(-50% - #{$border-width-input}));
					color: color('input-focus-border');
					font-size: font-size(-1);
				}
			}
			~ #{$block}__icon {
				color: color('input-hover-placeholder');
			}
		}
		&::placeholder {
			color: transparent;
		}
	}
	&__mask {
		display: flex;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		&-leading, &-middle, &-trailing {
			display: inline-block;
			transition: border-color $transition-timing $transition-function, padding $transition-timing $transition-function;
			border: solid $border-width-input color('input-border');
			line-height: baseline('#{$height-input}:#{-$border-width-input * 2}');
		}
		&-leading {
			padding-left: baseline(($height-input / 3) - ($height-input / 12));
			border-right: 0;
			border-radius: $border-radius-input 0 0 $border-radius-input;
		}
		&-middle {
			border-right: 0;
			border-left: 0;
			border-radius: 0;
		}
		&-trailing {
			flex-grow: 1;
			border-left: 0;
			border-radius: 0 $border-radius-input $border-radius-input 0;
			text-align: right;
		}
		&-label {
			display: inline-block;
			padding: 0 baseline($height-input / 12);
			transform: translateY(0%);
			transition: transform $transition-timing $transition-function, color $transition-timing $transition-function, font-size $transition-timing $transition-function;
			color: color('input-placeholder');
			cursor: text;
			pointer-events: none;
		}
	}
	&__icon {
		position: absolute;
		z-index: 2;
		top: 0;
		// width: 1em;
		// transform: translateY(-50%);
		transition: color $transition-timing $transition-function;
		color: color('input-placeholder');
		// font-size: font-size(2);
		line-height: baseline($height-input);
		text-align: center;
		&:nth-of-type(1) {
			margin-left: baseline($height-input / 3);
			border-left: $border-width-input solid transparent;
		}
		&:nth-of-type(2) {
			right: 0;
			margin-right: baseline($height-input / 3);
			border-right: $border-width-input solid transparent;
		}
		&[role='button'] {
			cursor: pointer;
		}
	}
	&--with-leading-icon {
		input#{$block}__input, textarea#{$block}__input {
			padding-left: baseline(($height-input / 3) + 1);
			&:focus + #{$block}__mask {
				#{$block}__mask-middle {
					padding-left: 0;
				}
			}
		}
		#{$block}__mask {
			&-leading {
				padding-left: baseline(($height-input / 3) - ($height-input / 12));
			}
			&-middle {
				padding-left: baseline(1);
			}
		}
		#{$block}__icon:only-of-type {
			margin-left: baseline($height-input / 3);
			border-left: $border-width-input solid transparent;
		}
	}
	&--with-trailing-icon {
		input#{$block}__input, textarea#{$block}__input {
			padding-right: baseline(($height-input / 3) + 1);
		}
		#{$block}__icon:only-of-type {
			right: 0;
			margin-right: baseline($height-input / 3);
			border-right: $border-width-input solid transparent;
		}
	}
	&--with-floating-label, &--with-value {
		#{$block}__mask, input#{$block}__input:hover + #{$block}__mask, textarea#{$block}__input:hover + #{$block}__mask {
			#{$block}__mask-middle {
				border-top-color: transparent;
			}
			#{$block}__mask-label {
				transform: translateY(calc(-50% - #{$border-width-input}));
				font-size: font-size(-1);
			}
		}
		&#{$block}--with-leading-icon {
			#{$block}__mask-middle {
				padding-left: 0;
			}
		}
	}
	&--rounded {
		input#{$block}__input, textarea#{$block}__input {
			padding-right: baseline(($height-input / 2) + ($height-input / 12));
			padding-left: baseline(($height-input / 2) + ($height-input / 12));
		}
		#{$block}__mask {
			&-leading {
				padding-left: baseline($height-input / 2);
				border-radius: baseline($height-input / 2) 0 0 baseline($height-input / 2);
			}
			&-trailing {
				border-radius: 0 baseline($height-input / 2) baseline($height-input / 2) 0;
			}
		}
		&#{$block}--with-leading-icon {
			input#{$block}__input, textarea#{$block}__input {
				padding-left: baseline(($height-input / 2) + ($height-input / 3));
			}
			#{$block}__mask {
				&-middle {
					padding-left: baseline(($height-input / 3) - ($height-input / 12));
				}
			}
		}
		&#{$block}--with-trailing-icon {
			input#{$block}__input, textarea#{$block}__input {
				padding-right: baseline(($height-input / 2) + ($height-input / 3));
			}
		}
		&#{$block}--with-floating-label {
			&#{$block}--with-leading-icon {
				#{$block}__mask-middle {
					padding-left: 0;
				}
			}
		}
	}
}
.radio {
	$block: &;
	$size: 1 / 1.5;
	$border-spacing: 2px;

	display: inline-block;
	vertical-align: baseline;
	cursor: pointer;
	&__text {
		display: inline-block;
		position: relative;
		padding-left: baseline(1);
		&::before, &::after {
			content: '';
			display: inline-block;
			position: absolute;
			top: baseline('#{(1 - $size) / 2}:#{-($border-width-input / 2)}');
			left: 0;
			width: baseline($size);
			height: baseline($size);
			transition: border $transition-timing $transition-function, transform $transition-timing $transition-function, opacity $transition-timing $transition-function;
			border-radius: 50%;
		}
		&::before {
			border: $border-width-input solid currentColor;
			background-color: transparent;
		}
		&::after {
			top: baseline('#{(1 - $size) / 2}:#{($border-width-input + ($border-spacing * 2)) / 2}');
			left: baseline('0:#{$border-width-input + $border-spacing}');
			width: baseline('#{$size}:#{-($border-width-input * 2 + $border-spacing * 2)}');
			height: baseline('#{$size}:#{-($border-width-input * 2 + $border-spacing * 2)}');
			transform: scale(0);
			opacity: 0;
			background-color: currentColor;
		}
	}
	&__input {
		display: none;
		&:checked + #{$block}__text {
			&::before {
				border-color: color('primary');
			}
			&::after {
				transform: scale(1);
				opacity: 1;
				background-color: color('primary');
			}
		}
		&[disabled] + #{$block}__text {
			color: color('text-tertiary');
			cursor: not-allowed;
			&::before {
				border-color: color('text-tertiary');
			}
			&::after {
				background-color: color('text-tertiary');
			}
		}
	}
}
.checkbox {
	$block: &;
	$size: 1 / 1.5;

	display: inline-block;
	vertical-align: baseline;
	&__text {
		display: inline-block;
		position: relative;
		padding-left: baseline(1);
		&::before {
			content: '';
			display: inline-block;
			position: absolute;
			top: baseline('#{(1 - $size) / 2}:-#{($border-width-input / 2)}');
			left: 0;
			width: baseline($size);
			height: baseline($size);
			transition: border-color $transition-timing $transition-function, background-color $transition-timing $transition-function;
			border: $border-width-input solid currentColor;
			border-radius: $border-radius-input;
			background-color: transparent;
		}
		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			top: baseline('#{(1 - $size) / 2}:#{$border-width-input / 2}');
			left: baseline('0:#{$border-width-input}');
			width: baseline('#{$size}:-#{$border-width-input * 2}');
			height: baseline('#{$size}:-#{$border-width-input * 2}');
			transition: opacity $transition-timing $transition-function;
			border-radius: $border-radius-input - $border-width-input;
			opacity: 0;
			background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path style="fill:none;stroke:#FFF;stroke-width:4px;stroke-dashoffset:0;stroke-dasharray:29.7833385;" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path></svg>');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
	}
	&__input {
		display: none;
		&:checked + #{$block}__text {
			&::before {
				border-color: color('primary');
				background-color: color('primary');
			}
			&::after {
				opacity: 1;
			}
		}
		&[disabled] {
			+ #{$block}__text {
				color: color('text-tertiary');
				cursor: default;
				&::before {
					border-color: color('text-tertiary');
					background-color: transparent;
				}
			}
			&:checked + #{$block}__text {
				&::before {
					border-color: transparent;
					background-color: color('text-tertiary');
				}
			}
		}
	}
}

// Header
//------------------------------------------------------------------------------
.header {
	$block: &;
	position: relative;
	// z-index: 1;
	background-color: #171616;
	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		padding: baseline(0.5 0);
		&-link {
			display: inline-block;
		}
		&-img {
			width: auto;
			height: baseline(3);
		}
	}
	&__site-title {
		margin: 0;
		padding: baseline(0.5 0);
		font-size: font-size(9);
		line-height: baseline(3);
		&-link {
			color: #FFFFFF;
			&:hover {
				text-decoration: none;
			}
		}
	}
	@include screen-min-lg {
		&__menu-toggle {
			display: none;
		}
		&__menu {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			&-item {
				position: relative;
				white-space: nowrap;
			}
			&-link {
				display: inline-block;
				padding: baseline(0 0.5);
				color: color-contrasted('text-primary');
				font-family: $font-family-heading;
				font-size: font-size(1);
				font-weight: $font-weight-heading-bold;
				line-height: baseline(3);
				text-transform: uppercase;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	@include screen-max-lg {
		&__menu-toggle {
			display: inline-block;
			width: baseline(3);
			height: baseline(3);
			background-color: transparent;
			font-size: font-size(6);
			line-height: baseline(3);
			&:focus, &:hover, &:active {
				background-color: transparent;
			}
		}
		&__menu {
			position: fixed;
			z-index: 1001;
			top: 0;
			left: 0;
			width: baseline(12);
			height: 100vh;
			padding: baseline(1.5 0);
			transform: translate3d(-100%, 0, 0);
			transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
			background: #171616;
			list-style: none;
			&--active {
				transform: translate3d(0, 0, 0);
				transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1);
			}
			&-item {
				white-space: nowrap;
			}
			&-link {
				display: block;
				padding: baseline(0 2);
				color: color-contrasted('text-primary');
				font-family: $font-family-heading;
				font-size: font-size(1);
				font-weight: $font-weight-heading-bold;
				line-height: baseline(2);
				text-transform: uppercase;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.page-template-page-home & {
		background-color: transparent;
	}
}
@include screen-max-lg {
	.header-menu-active {
		overflow: hidden;
	}
}

// Headings
//------------------------------------------------------------------------------

// Hero
//------------------------------------------------------------------------------
.hero {
	display: flex;
	position: relative;
	// z-index: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90vh;
	min-height: baseline(30);
	// margin-top: baseline(-4);
	// padding-top: baseline(2);
	padding-bottom: baseline(4);
	color: #FFFFFF;
	&__featured-img {
		position: absolute;
		z-index: -1;
		top: baseline(-4);
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		background-attachment: fixed;
		box-shadow: inset #{baseline(0 5 5 0)} rgba(#000000, 0.46);
		&::before {
			content: '';
			position: absolute;
			top: baseline(-4);
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(#000000, 0.46);
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: baseline(1);
	}
	&__heading {
		font-size: font-size(12);
		// font-weight: $font-weight-heading-normal;
		line-height: baseline(3);
		text-align: center;
		text-transform: uppercase;
	}
	&__sub-heading {
		display: inline-block;
		position: relative;
		margin: baseline(2);
		font-size: font-size(10);
		// font-weight: $font-weight-heading-normal;
		line-height: baseline(2.5);
		text-align: center;
		text-transform: capitalize;
		&::before, &::after {
			content: '\2014';
			position: absolute;
			top: 0;
			left: baseline(-2);
			// width: baseline(2);
			// height: baseline(0.25);
			// transform: translateY(-50%);
			// background-color: currentColor;
		}
		&::after {
			right: baseline(-2);
			left: auto;
		}
	}
	&__cta {
		position: relative;
		margin-top: baseline(2);
		color: currentColor;
		font-family: $font-family-heading;
		font-size: font-size(3);
		font-weight: $font-weight-heading-bold;
		line-height: baseline(1.5);
		text-align: center;
		text-transform: uppercase;
		&:hover {
			text-decoration: none;
		}
		&::before, &::after {
			content: '';
			position: absolute;
			left: 50%;
			width: baseline(1.75);
			height: baseline(1);
			transform: translateX(-50%);
			border: baseline(0.125) solid currentColor;
		}
		&::before {
			bottom: 100%;
			border-bottom: 0;
		}
		&::after {
			top: 100%;
			border-top: 0;
		}
		&-icon {
			display: inline-block;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			font-size: font-size(8);
			line-height: baseline(0.5);
		}
	}
	&__social {
		display: flex;
		margin: baseline(2 0 0);
		padding: 0;
		list-style: none;
		&-item {
			margin: baseline(0 0.5);
			&-img {
				width: baseline(1);
				height: baseline(1);
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&-link {
			display: inline-block;
			padding: baseline(0 0.5);
			color: color-contrasted('text-primary');
			font-size: font-size(1);
			line-height: baseline(3);
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
		}
	}
	@include screen-max-lg {
		&__heading {
			font-size: font-size(9);
			line-height: baseline(2);
		}
		&__sub-heading {
			font-size: font-size(7);
			line-height: baseline(1.5);
		}
		&__cta {
			font-size: font-size(2);
			line-height: baseline(1.5);
			&-icon {
				font-size: font-size(6);
			}
		}
	}
	// @include screen-max-sm {
	// 	&__heading {
	// 		font-size: font-size(6);
	// 		line-height: baseline(2);
	// 	}
	// 	&__sub-heading {
	// 		margin: baseline(1);
	// 		font-size: font-size(4);
	// 		line-height: baseline(1.5);
	// 	}
	// 	&__cta {
	// 		font-size: font-size(1);
	// 		line-height: baseline(1);
	// 	}
	// }
}

// Homepage
//------------------------------------------------------------------------------
.section {
	$block: &;
	position: relative;
	&--content-middle {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&--paper {
		// padding: baseline(2.5 0);
		background-color: #FDFDFD;
		&::before, &::after {
			content: '';
			position: absolute;
			width: 100%;
			height: baseline(5);
			background-repeat: no-repeat;
			background-position: center top;
		}
		&::before {
			bottom: 100%;
			background-image: url(./assets/img/paper-top-1.png);
		}
		&::after {
			top: 100%;
			transform: rotate(180deg);
			background-image: url(assets/img/paper-top-1.png);
		}
		#{$block}__inner {
			position: relative;
			z-index: 1;
			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				top: baseline(-1.5);
				left: baseline(-4);
				width: 290px;
				height: 368px;
				background-image: url(assets/img/splash.png);
			}
		}
	}
	&--above-footer {
		min-height: 90vh;
		&::before {
			content: '';
			position: absolute;
			bottom: 100%;
			width: 100%;
			height: baseline(5);
			background-image: url(./assets/img/paper-top-1.png);
			background-repeat: no-repeat;
			background-position: center top;
		}
		#{$block}__background-img {
			background-position: bottom center;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(#FFFFFF, 0.88);
			}
		}
	}
	&__background-img {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(#000000, 0.5);
		}
	}
	&--no-content {
		display: flex;
		align-items: center;
		min-height: 50vh;
		background-color: #000000;
		color: #FFFFFF;
		h1 {
			text-align: center;
		}
	}
}

// Info boxes
//------------------------------------------------------------------------------
.info-boxes {
	display: flex;
	flex-wrap: wrap;
	&__box {
		width: 25%;
		padding: baseline(2);
		&:nth-child(1) {
			position: relative;
			padding-left: 0;
			background-color: #BA030A;
			color: #FFFFFF;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 100%;
				width: 100vw;
				height: 100%;
				background-color: #BA030A;
			}
		}
		&:nth-child(2) {
			background-color: #F0F0F0;
		}
		&:nth-child(3) {
			background-color: #F7F7F7;
		}
		&:nth-child(4) {
			position: relative;
			padding-right: 0;
			background-color: #FFFFFF;
		}
		// &-content {}
		&-heading {
			margin-bottom: baseline(0.5);
			font-size: font-size(4);
			line-height: baseline(1.5);
			text-transform: uppercase;
			&-img {
				width: auto;
				height: baseline(1);
				vertical-align: baseline;
			}
		}
		&:nth-child(1) &-heading {
			font-size: font-size(6);
			line-height: baseline(1.5);
		}
		&-text {
			color: #747474;
		}
	}
	@include screen-max-lg {
		margin-right: baseline(-1);
		margin-left: baseline(-1);
		&__box {
			width: 50%;
			padding: baseline(2);
			&:nth-child(1), &:nth-child(4) {
				padding: baseline(2);
			}
		}
	}
	@include screen-max-sm {
		&__box {
			width: 100%;
			padding: baseline(1);
			&:nth-child(1), &:nth-child(4) {
				padding: baseline(1);
			}
			&-heading {
				margin-bottom: 0;
				font-size: font-size(2);
				line-height: baseline(1);
			}
			&:nth-child(1) &-heading {
				font-size: font-size(3);
				line-height: baseline(1);
			}
		}
	}
}

// Jobs
//------------------------------------------------------------------------------

// Navigation Main
//------------------------------------------------------------------------------

// Navigation Secondary
//------------------------------------------------------------------------------

// Newsletter
//------------------------------------------------------------------------------

// Page Title
//------------------------------------------------------------------------------

// Pagination
//------------------------------------------------------------------------------

// Process
//------------------------------------------------------------------------------

// Reviews
//------------------------------------------------------------------------------
.reviews {
	&__heading {
		margin-bottom: baseline(2);
		text-align: center;
		&-img {
			width: auto;
			height: baseline(5);
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin: baseline(0 -0.5);
		&-item {
			width: (100% / 3);
			padding: baseline(0 0.5 1);
		}
	}
	&__review {
		display: flex;
		flex-direction: column;
		height: 100%;
		&-callout {
			position: relative;
			height: 100%;
			padding: baseline(1);
			background-color: #FFFFFF;

			filter: drop-shadow(0px 3px 6px rgba(#000000, 0.16));
			&::after {
				content: '';
				position: absolute;
				top: 100%;
				left: baseline(1);
				width: 0;
				height: 0;
				// transform: rotate(-45deg);
				transform-origin: 0 0;
				border-top: baseline(0.5) solid #FFFFFF;
				border-right: baseline(0.75) solid transparent;
				border-bottom: baseline(0.5) solid transparent;
				border-left: baseline(0.75) solid #FFFFFF;
			}
		}
		&:nth-child(1) &-callout {
			background-color: #FFFFFF;
			&::after {
				border-top-color: #FFFFFF;
				border-left-color: #FFFFFF;
			}
		}
		&:nth-child(2) &-callout {
			background-color: #F7F7F7;
			&::after {
				border-top-color: #F7F7F7;
				border-left-color: #F7F7F7;
			}
		}
		&:nth-child(3) &-callout {
			background-color: #F2F2F2;
			&::after {
				border-top-color: #F2F2F2;
				border-left-color: #F2F2F2;
			}
		}
		&-bottom {
			display: flex;
			margin-top: baseline(1.5);
		}
		&-stars {
			display: flex;
			margin-left: baseline(0.5);
			color: #FAC917;
			font-size: font-size(1);
			line-height: baseline(1.5);
		}
		&-author-name {
			margin-bottom: baseline(0.5);
			font-weight: 700;
		}
		&-author-img {
			width: baseline(1.5);
			height: baseline(1.5);
		}
	}
	@include screen-max-lg {
		&__list {
			&-item {
				width: 50%;
				&:nth-child(3) {
					width: 100%;
				}
			}
		}
	}
	@include screen-max-sm {
		&__list {
			&-item {
				width: 100%;
			}
		}
	}
}

// Quote Banner
//------------------------------------------------------------------------------

// Offices
//------------------------------------------------------------------------------

// Services
//------------------------------------------------------------------------------
.rent-now {
	display: flex;
	flex-wrap: wrap;
	padding: baseline(2 0);
	text-align: center;
	&__left {
		width: (100% / 1.5);
		padding-right: baseline(1);
	}
	&__right {
		width: (100% / 3);
		margin: 0 auto;
		padding-left: baseline(1);
	}
	&__box {
		position: relative;
		margin: 0 auto;
		padding: baseline(4 0 2);
		&::before, &::after {
			content: '';
			position: absolute;
			z-index: -1;
			left: 0;
			width: 100%;
			height: 40%;
			border: 4px solid rgba(#000000, 0.25);
		}
		&::before {
			top: 0;
			border-bottom: 0;
		}
		&::after {
			bottom: 0;
			border-top: 0;
		}
	}
	&__box-info {
		margin-bottom: baseline(1);
		font-size: font-size(3);
		line-height: baseline(1);
	}
	&__heading {
		font-size: font-size(16);
		line-height: baseline(4);
	}
	@include screen-max-lg {
		flex-wrap: wrap;
		padding: 0;
		&__left, &__right {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
		}
		&__right {
			margin-top: baseline(1);
		}
		&__box {
			position: relative;
			// max-width: 75%;
			padding: baseline(2 0);
		}
		&__heading {
			font-size: font-size(12);
			line-height: baseline(3);
		}
	}
}

// Share buttons
//------------------------------------------------------------------------------

// Social Media
//------------------------------------------------------------------------------

// Team
//------------------------------------------------------------------------------

// Testimonials
//------------------------------------------------------------------------------

// Topbar
//------------------------------------------------------------------------------

// WordPress
//------------------------------------------------------------------------------

// Work List
//------------------------------------------------------------------------------

// Work Detail
//------------------------------------------------------------------------------
